<div class="modal-container">
    <form action="/login" method="post" style="position: relative">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <a href="/" class="glyphicon glyphicon-remove" style="color: white; float: right; font-size: 20px"></a>
        <h2><%= isNew ? messages.createAccount : newPassword ? messages.updatePassword : messages.login %></h2>
        <% if (isNew) { %>
            <div class="flex-apart">
                <label for="name"><%= messages.yourName %></label>
                <input name="name" required>
            </div>
            <div class="flex-apart">
                <label for="email"><%= messages.email %></label>
                <input name="email" type="email" required>
            </div>
            <div class="flex-apart">
                <label for="phone"><%= messages.yourPhone %></label>
                <input name="phone" required>
            </div>
            <div class="flex-apart">
                <label for="password"><%= messages.password %></label>
                <input name="password" type="password" required>
            </div>
            <div class="flex-apart">
                <label for="password"><%= messages.confirmPassword %></label>
                <input name="confirmPassword" type="password" required>
            </div>
            <a href="/login" class="card-footer" style="width: fit-content"><%= messages.alreadyHaveAccount %></a>
        <% } else if (!newPassword) { %>
            <div class="flex-apart">
                <label for="email"><%= messages.email %></label>
                <input name="email" type="email" required>
            </div>
            <div class="flex-apart">
                <label for="password"><%= messages.password %></label>
                <input name="password" type="password">
            </div>
            <a href="/login-new" class="card-footer" style="width: fit-content"><%= messages.createNewAccount %></a>
        <% } else { %>
            <div class="flex-apart">
                <label for="password"><%= messages.password %></label>
                <input name="password" type="password" required>
            </div>
            <div class="flex-apart">
                <label for="password"><%= messages.confirmPassword %></label>
                <input name="confirmPassword" type="password" required>
            </div>
        <input type="hidden" name="token" value="<%= token %>"/>
        <input type="hidden" name="sellerId" value="<%= sellerId %>"/>
        <% } %>
        <div style="color: lightcoral">
            <%= loginError %>
        </div>
        <div style="float: right; margin-top: 16px; margin-right: 12px;">
            <% if (!isNew && !newPassword) { %>
                <button formaction="/reset-password" class="save-button"
                        style="width: fit-content"><%= messages.forgotPassword %></button>
            <% } %>
            <% if (newPassword) { %>
                    <button formaction="/replace-password" class="save-button" style="width: fit-content"><%= messages.updatePassword %></button>
            <% } else { %>
                <button class="save-button"><%= isNew ? messages.createAccount : messages.login %></button>
            <% } %>
        </div>
    </form>
</div>