<nav class="navbar navbar-default navbar-static-top navbar-inverse transparent">
    <div class="container nav-flex">
        <ul class="nav navbar-nav">
            <li>
                <a href="/" style="padding: 0 2rem; margin: 0" class="no-border-bottom">
                    <img class="logo" src="/images/BYUI-logo.png" alt="BYU Idaho logo">
                </a>
            </li>
            <li class="<%= path === '/' ? 'active' : '' %>">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li class="<%= path === '/cars/find' ? 'active' : '' %>">
                <a href="/cars/find">Find a Car</a>
            </li>
            <% if (user && user.name) { %>
            <li class="<%= path === '/cars/sell' ? 'active' : '' %>">
                <a href="/cars/sell">Sell a Car</a>
            </li>
            <% } %>
            <li>
                <a href="/comments">Comments (Pagination)</a>
            </li>
            <li>
                <a href="/pokemon">Pokemon</a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <% if (user.name) { %>
            <li class="<%= path === '/logout' ? 'active' : '' %>">
                <a href="/logout"><%= messages.logout %> <%= user.name %></a>
            </li>
            <% } else { %>
                    <li class="<%= path === '/login' ? 'active' : '' %>">
                        <a href="/login"><%= messages.login %></a>
                    </li>
            <% } %>
        </ul>
    </div>
</nav>
