<!DOCTYPE html>
<html>
<head>
    <% include ./store/includes/header.ejs %>
</head>
<body>
<% include ./store/includes/nav.ejs %>
<h1 style="margin-top: 64px;">
    Pokemon API
</h1>
<div class="text-center">
    <form action="/pokemon" method="post" id="poke-form">
        <input type="hidden" name="url" id="url">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div id="pagination">
            <!--  First Page  -->
            <button onclick="onPrevClick()"
                    class="pagination-btn btn-chevron <%= !pokemonData.previous ? 'isDisabled' : '' %>">
                &#8249; Previous Page
            </button>
            <button onclick="onNextClick()"
                    class="pagination-btn btn-chevron <%= !pokemonData.next ? 'isDisabled' : '' %>">
                Next Page &#8250;
            </button>
            <script>
                const onNextClick = () => {
                  document.getElementById("url").value = '<%= pokemonData.next %>';
                  if ('<%= pokemonData.next %>') document.getElementById('poke-form').submit();
                }

                const onPrevClick = () => {
                  document.getElementById("url").value = '<%= pokemonData.previous %>';
                  if ('<%= pokemonData.previous %>') document.getElementById('poke-form').submit();
                }
            </script>
        </div>
        <div class="car-grid" style="margin-bottom: 64px;">
            <% pokemonData.results.map(pokemon => { %>
                <div class="card">
                    <h4>
                        <%= pokemon.name %>
                    </h4>
                    <img src="<%= pokemon.src %>" width="300">
                    <p>
                        <a href="<%= pokemon.url %>">
                            <%= messages.moreInfo %>
                        </a>
                    </p>
                </div>
            <% }) %>
        </div>
    </form>
</div>

</body>
</html>
