<!DOCTYPE html>
<html>
<head>
    <% include ./includes/header.ejs %>
</head>

<body>
<%- include('./includes/nav.ejs', {messages: messages}) %>
<div class="jumbotron text-center page-404">
    <div class="container">
        <h1><%= title %></h1>
        <img src="/images/404-unsplash.png" height="350" alt="Couldn't find the page you were looking for.">
        <p><%= messages.body4041 %><%= path %><%= messages.body4042 %></p>
    </div>
</div>

</body>
</html>