<!DOCTYPE html>
<html>
<head>
    <% include ./includes/header.ejs %>
</head>

<body>
<% include ./includes/nav.ejs %>
<div class="text-center">
    <% if (!car) { %>
        <div>
            <div class="hero-container">
                <div class="hero hero-camaro">
                    <h1><%= title %></h1>
                </div>
                <div style="position: relative">
                    <i class="glyphicon glyphicon-chevron-down bottom-arrow"></i>
                </div>
            </div>
        </div>
    <% } %>
    <% if (car) { %>
        <div class="card-grid card card-lg" style="margin: 0 auto">
            <h2><%= car.year %> <%= car.make %> <%= car.model %></h2>
            <img src="<%= car.src %>" width="800">
            <div>
                <h3>
                    <%= messages.carInfo %>
                </h3>
                <div>
                    <%= car.description || messages.noAdditionalInfo %>
                </div>
                <h3>
                    <%= messages.seller %>
                </h3>
                <div>
                    <%= messages.sellerName %>
                    <%= car.seller.name %>
                </div>
                <div>
                    <%= messages.sellerEmail %>
                    <%= car.seller.email %>
                </div>
                <div>
                    <%= messages.sellerPhone %>
                    <%= car.seller.phone %>
                </div>
            </div>
            <a href="/cars/find"><h3><%= messages && messages.goBack %></h3></a>
        </div>
    <% } else { %>
        <div style="height: 100vh; margin-top: 100vh;">
            <% if (cars && cars.length > 0) { %>
                <div class="car-grid">
                    <% cars.map(car => { %>
                        <div class="card">
                            <div class="grid align-right">
                                <% if (car && car.seller && car.seller._id && (car.seller._id.equals(user._id))) { %>
                                    <a href="/cars/delete/<%= car._id %>">
                                        <div class="glyphicon glyphicon-trash"></div>
                                    </a>
                                    <a href="/cars/sell/<%= car._id %>">
                                        <div class="glyphicon glyphicon-pencil"></div>
                                    </a>
                                <% } %>
                            </div>
                            <img src="<%= car.src %>" width="300">
                            <h2><%= car.year %> <%= car.make %> <%= car.model %><%= car.status === 'sold' ? messages.sold: ''%></h2>
                            <h3 class="price">$<%= car.price %></h3>
                            <a href="/cars/find/<%= car._id %>">
                                <h4><%= messages.moreInfo %></h4>
                            </a>
                            <div class="card-footer">
                                <% if (car && car.seller && car.seller._id && (!car.seller._id.equals(user._id)) && car.status !== 'sold') {%>
                                    <% if (user && user.name) { %>
                                        <!--
                                            <a href="/cars/saveForLater/<%= car._id %>" class="button"><%= messages.saveForLater %></a>
                                        -->
                                        <div></div>
                                        <a href="/cars/buy/<%= car._id %>" class="button"><%= messages.orderNow %></a>
                                    <% } else { %>
                                        <!--
                                            <a href="/login" class="button"><%= messages.saveForLater %></a>
                                        -->
                                        <div></div>
                                        <a href="/login" class="button"><%= messages.orderNow %></a>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <h1 style="font-size: 60px; line-height: 200px;"><%= messages.noCarsAvailable %></h1>
            <% } %>
        </div>
    <% } %>
</div>
</div>

</body>
</html>
