<!DOCTYPE html>
<html>
<head>
    <% include ./includes/header.ejs %>
</head>

<body>
<%- include('./includes/nav.ejs', {messages: messages}) %>
<div class="jumbotron text-center">
    <div class="container">
        <div class="hero-container">
            <div class="hero hero-tesla">
                <h1><%= title %></h1>
                <div class="action-buttons">
                    <a class="btn-link" href="/cars/find"><%= messages &&  messages.findACar%></a>
                    <a class="btn-link" href="<%= user && user.name ? '/cars/sell' : '/login' %>"><%= messages &&  messages.sellACar%></a>
                </div>
                <% if (showLogin) { %>
                    <%- include('./includes/login.ejs', {messages: messages}) %>
                <% }%>
            </div>
        </div>
    </div>
</div>

</body>
</html>
