<!DOCTYPE html>
<html>
<head>
    <% include ./includes/header.ejs %>
</head>

<body>
<% include ./includes/nav.ejs %>
<div class="jumbotron text-center">
    <div>
        <div class="hero-container">
            <div class="hero hero-lambo">
                <h1><%= title %></h1>
                <div class="sell-form">
                    <h3>
                        <%= car && car.make && car.model ? messages.editCar : messages.tellAboutYourCar %>
                    </h3>
                    <form class="" action="/cars/sell" method="post">
                        <input type="hidden" name="carId" value="<%= car._id || "" %>">
                        <input type="hidden" name="sellerId" value="<%= car.seller._id || "" %>">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <label for="make"><%= messages.make %></label>
                                </td>
                                <td>
                                    <input name="make" value="<%= car.make || "" %>" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="model"><%= messages.model %></label>
                                </td>
                                <td>
                                    <input name="model" value="<%= car.model || "" %>" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="year"><%= messages.year %></label>
                                </td>
                                <td>
                                    <input name="year" type="number" min="1960" max="2022" value="<%= car.year || "" %>"
                                           required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="src"><%= messages.imageUrl %></label>
                                </td>
                                <td>
                                    <input name="src" value="<%= car.src || "" %>" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="price"><%= messages.listPrice %></label>
                                </td>
                                <td>
                                    <input name="price" value="<%= car.price || "" %>" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="description"><%= messages.description %></label>
                                </td>
                                <td>
                                    <textarea name="description"><%= car.description || "" %></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="sellerName"><%= messages.yourName %></label>
                                </td>
                                <td>
                                    <input name="sellerName" value="<%= car.seller.name || "" %>" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="sellerPhone"><%= messages.yourPhone %></label>
                                </td>
                                <td>
                                    <input name="sellerPhone" value="<%= car.seller.phone || "" %>" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="sellerEmail"><%= messages.yourEmail %></label>
                                </td>
                                <td>
                                    <input name="sellerEmail" value="<%= car.seller.email || "" %>" required>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: end">
                                    <button type="reset" class="save-button"><%= messages.reset %></button>
                                    <button type="submit" class="save-button"><%= messages.submit %></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
